<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html, utf-8"  http-equiv="Content-Type" />    <!--utf-8 erro-->
  </head>
  <body>
    <h1>Infoticket - Chamado criado com sucesso</h1>

    <p> Ol&aacute; usu&aacute;rio, o chamado com o t&iacute;tulo de: <strong><%=@chamado.titulo%></strong>.</p>

    <p> E com a ID: <strong><%=@chamado.id%></strong>. </p>

    <p> Foi criado com sucesso. </p>


  </body>
</html>