<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html, utf-8"  http-equiv="Content-Type" />    <!--utf-8 erro-->
  </head>
  <body>
    <h1>Infoticket - Chamado novo</h1>

    <p> Olá o chamado com o título de: <strong><%=@chamado.titulo%></strong>.</p>

    <p> E com a ID: <strong><%=@chamado.id%></strong> foi encaminhado para você; . Favor prosseguir com o atendimento. </p>

  </body>
</html>