<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html, utf-8"  http-equiv="Content-Type" />    <!--utf-8 erro-->
  </head>
  <body>
    <h1>Bem vindo ao sistema de suporte, <strong><%= @user.nome %></strong> !</h1>
    <p>
      Você se registrou com sucesso, seu nome de usuário é :<br> <%= @user.login %><br/>

    </p>
    <p>
      Para logar no site você precisa acessar este endereço: <a href=http://watson.icb.usp.br/infoticket/>Infoticket</a> .
    </p>
    <p>Obrigado!</p>
  </body>
</html>
