
<h1>Logout</h1>
<p>Obrigado por usar este sistema, tenha um bom dia.</p>

<p> Se deseja acessar novamente o sistema clique no link</p>
 <strong><%= link_to "Log in", :controller => "login", :action => "login" %></strong>.

